/* CSS Document */
body, html{
	height: 100%;
	min-height: 600px;
	min-width: 800px;
}
body{
	background: #DDDDDD;
}
@media (min-width: 768px){
	.navbar {
		border-radius: 0px;
	}
}
.navbar {
    min-height: 50px;
    margin-bottom: 0px;
    border-bottom: 4px solid blue;
}
#main-container{
	position:absolute;
	top: 54px;
	bottom: 0;
	left: 0;
	right: 0;
}
.section{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.section-right{
	left: 50%;
}
.section-left{
	right: 50%;
}
.viewport.section{
	background: #EFEFEF;
	height: 50%;
}
#sidebar.section{
	background: #FFFFFF;
	width: 200px;
}
#content.section{
	left: 200px;
}
#ads.section{
	top: auto;
	height: 230px;
	background: pink;
}
#html.section{
	bottom: 50%;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
#js.section{
	top: auto;
	border-right: 1px solid #DDD;
}
#css.section{
	bottom: 50%;
	border-bottom: 1px solid #DDD;
}
#preview.section{
	top: auto;
}